{% extends "layout.html" %}
{% block content %}
<h1>This is About Me</h1>
<div>
    <img id="pic_me" src="/static/img/me.jpg" alt="Picture of Myself" width="289.75" height="386">
    <main id="about_me_text">
        "Hello guys, girls and furry pets, whoever is reading this! My name is Chris (Cristiano), and I am yet another
        Portuguese person living here in the UK. I came here about three years ago for my bachelors, which was in
        Psychology and Criminology. I have always found the topic interesting, how our minds work is a fascinating thing
        to think about, even debating with your friends. I learned so much, and met so many people along the way. It was
        an amazing journey that I would not do again hah.., I read a lot, wrote a lot, and confused myself so many
        times, but at the end it was worth it! I also had others interests apart from this, and that was Informatics.
        And for that reason, I am now doing a masters in Computing and IT Management! What a change i know.... I wasn’t
        sure at first if it was the right choice, but hey!, it is done! I find it challenging at times, since I am
        learning so many things at once, but I have met a great bunch of people in this course, and I wouldn’t take it
        back. You see, human interactions is a very important part of who I am, because, who are we without someone
        else. I honestly could not have gone so far if not or the support of my friends, so I’m glad I had them!"
    </main>

</div>
{% endblock content %}