{% extends "layout.html" %}
{% block content %}
<h1>Disclaimer</h1>
<div>
    <main id="about_me_text">
        <p class="privacy_policy_titles">Information collection and Use</p>
        <p> When you sign up to Chris' Place, you give us certain information voluntarily. This includes your name
            and email address.</p>
        <p class="privacy_policy_titles"> Log Data</p>
        <p>We want to inform you that whenever you visit thtis webpage, we collect information that your browser sends
            to us, called Log Data. This Log Data may include information such as your computer's Internet Protocol
            ("IP") address, browser version, pages of ourr Service that you visit, the time and date of your visit, the
            time spent on those pages, and other statistics.</p>
        <p class="privacy_policy_titles"> Cookies</p>
        <p>Cookies are files with small amount of data that are sent to yout browser from the website that you visit and
            are stored on yoru computer's hard drive.
            Our website uses these "cookies" to collect information and to improve the service.
        </p>
    </main>

</div>
{% endblock content %}